<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="{{ url_for ('static', filename = 'media/laraby1.PNG') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/bootstrap-grid.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/v1/main.css') }}">
	<!-- <script type="text/javascript" src="{{ url_for ('static', filename = 'js/v1/home.js') }}"></script> -->
	<title>Acerca de...</title>
</head>
<body>
	<div class="row mih-100 w-100 p-0 m-0">
		<div class="col-xl-2 p-0 m-0 mibg-light mw-190">
			<div class="d-block w-100 my-5" align="center">
				<h1 class="text-light">{{ get_nombre }}</h1>
			</div>
			<div class="float-right w-100 p-0 m-0 mt-2">
				<div align="right" class="p-0">
					<a href="./" class="h-bg-lighter px-3 py-2 text-light btn btn-block menu-link" draggable="false">Home</a>
				</div>
				<div align="right" class="p-0">
					<a class="mibg-dark px-3 py-2 text-light btn btn-block menu-link" disabled>Acerca de...</a>
				</div>
				<div align="right" class="p-0">
					<a href="./cambio-de-nombre" class="h-bg-lighter px-3 py-2 text-light btn btn-block menu-link" draggable="false">Cambio de nombre</a>
				</div>
			</div>
			<!-- <button class="btn btn-danger px-3" style="font-size: 2em">&times;</button> -->
		</div>
		<div class="col-xl-10 p-0 m-0 mibg-dark">
			<div class="p-3">
				<div class="mibg-light mirounded px-5 py-6 text-light my-4">
					<h1 class="f-5">Acerca de...</h1 class="f-5">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quaerat, dignissimos maiores eligendi obcaecati! Eveniet delectus porro distinctio in excepturi, aspernatur accusantium veniam, temporibus omnis officia reiciendis minima perferendis aliquid.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>