<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="{{ url_for ('static', filename = 'media/laraby1.PNG') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/bootstrap-grid.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/v1/main.css') }}">
	<script type="text/javascript" src="{{ url_for ('static', filename = 'js/v1/home.js') }}"></script>
	<title>Home</title>
</head>
<body>
	<div class="row mih-100 w-100 p-0 m-0">
		<div class="col-xl-2 p-0 m-0 mibg-light mw-190">
			<div class="d-block w-100 my-5" align="center">
				<h1 class="text-light">{{ get_nombre }}</h1>
			</div>
			<div class="float-right w-100 p-0 m-0 mt-2">
				<div align="right" class="p-0">
					<a class="mibg-dark px-3 py-2 text-light btn btn-block menu-link" draggable="false" disabled>Home</a>
				</div>
				<div align="right" class="p-0">
					<a href="./acerca-de" class="h-bg-lighter px-3 py-2 text-light btn btn-block menu-link" draggable="false">Acerca de...</a>
				</div>
				<div align="right" class="p-0">
					<a href="./cambio-de-nombre" class="h-bg-lighter px-3 py-2 text-light btn btn-block menu-link" draggable="false">Cambio de nombre</a>
				</div>
			</div>
			<!-- <button class="btn btn-danger px-3" style="font-size: 2em">&times;</button> -->
		</div>
		<div class="col-xl-10 p-0 m-0 mibg-dark">
			<div class="p-3">
				<div class="mibg-light mirounded px-5 py-6 text-light my-4">
					<h1 class="f-5" id="label_hora">Cargando...</h1>
					<h4 id="label_fecha">Cargando...</h4>
				</div>
				<a href="https://www.google.es/" class="h-bg-lighter mibg-light mirounded site-link m-1" title="Ir a https://www.google.es/" target="_blank" draggable="false">
					<img src="{{ url_for ('static', filename = 'media/google_logo.png') }}" alt="Ir a https://www.google.es/" draggable="false">
				</a>
				<a href="https://www.youtube.com/" class="h-bg-lighter mibg-light mirounded site-link m-1" title="Ir a https://www.youtube.com/" target="_blank" draggable="false">
					<img src="{{ url_for ('static', filename = 'media/youtube_logo.png') }}" alt="Ir a https://www.youtube.com/" draggable="false">
				</a>
				<a href="https://www.sololearn.com/" class="h-bg-lighter mibg-light mirounded site-link m-1" title="Ir a https://www.sololearn.com/" target="_blank" draggable="false">
					<img src="{{ url_for ('static', filename = 'media/sololearn_logo.png') }}" alt="Ir a https://www.sololearn.com/" draggable="false">
				</a>
				<a href="http://instagram.com/" class="h-bg-lighter mibg-light mirounded site-link m-1" title="Ir a http://instagram.com/" target="_blank" draggable="false">
					<img src="{{ url_for ('static', filename = 'media/instagram_logo.png') }}" alt="Ir a http://instagram.com/" draggable="false">
				</a>
				<a href="https://twitter.com/" class="h-bg-lighter mibg-light mirounded site-link m-1" title="Ir a https://twitter.com/" target="_blank" draggable="false">
					<img src="{{ url_for ('static', filename = 'media/twitter_logo.png') }}" alt="Ir a https://twitter.com/" draggable="false">
				</a>
			</div>
		</div>
	</div>
</body>
</html>