:root {
	--radio: 20px;
	--color-lighter: #686880;
	--color-light: #393A61;
	--color-dark: #222644;
}

@font-face {
	font-family: Fuente;
	src: url(../media/fuente5.otf);
}

* {
	font-family: "Fuente";
}

body {
	background-color: var(--color-dark);
	height: 100vh;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

a:focus {
	box-shadow: none !important;
	outline: none;
}

.mitext-lighter {
	color: var(--color-lighter);
}

.mitext-light {
	color: var(--color-light);
}

.mitext-dark {
	color: var(--color-dark);
}

.mibg-lighter {
	background-color: var(--color-lighter);
}

.mibg-light {
	background-color: var(--color-light);
}

.mibg-dark {
	background-color: var(--color-dark);
}

.mih-100 {
	height: 100vh;
}

.h-bg-lighter, .h-bg-light, .h-bg-dark {

}

.h-bg-lighter:not(:disabled):hover, .h-bg-lighter:not(:disabled):focus {
	background-color: var(--color-lighter) !important;
	transition: background-color 1s ease-in-out;
}

.h-bg-light:not(:disabled):hover, .h-bg-light:not(:disabled):focus {
	background-color: var(--color-light) !important;
	transition: background-color 1s ease-in-out;
}

.h-bg-dark:not(:disabled):hover, .h-bg-dark:not(:disabled):focus {
	background-color: var(--color-dark) !important;
	transition: background-color 1s ease-in-out;
}

.menu-link {
	border-radius: var(--radio) 0 0 var(--radio);
}

.menu-link:disabled {
	background-color: var(--color-dark) !important;
}

.mirounded {
	border-radius: var(--radio);
}

.py-6 {
	padding-bottom: 5em;
	padding-top: 5em;
}

.f-5 {
	font-size: 5rem;
}

.mw-190 {
	min-width: 190px;
}

.site-link {
	display: inline-block;
	height: 12vh;
	padding: 1.5vh;
	width: 12vh;
}

.site-link img {
	height: 9vh;
	width: 9vh;
}

@media only screen and (max-width: 732px) {
	.menu-link {
		border-radius: 0 0 0 0;
	}
}