<footer class="jumbotron bg-light text-corporativo m-0 py-3 px-5 rounded-0 text-right border border-corporativo border-bottom-0 border-left-0 border-right-0">
	<h5 class="my-3">{{ get_nombre }}</h5>
	<p>A todo el que necesite ayuda y Dios no le asista, lo hará {{ get_nombre }}.</p>
</footer>