<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/bootstrap-grid.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/v0/main.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for ('static', filename = 'media/laraby.PNG') }}">
	<!-- <script type="text/javascript" src="{{ url_for ('static', filename = 'js/state.js') }}"></script> -->
	<title>Inicio</title>
</head>
<body>
	<header class="jumbotron bg-light text-corporativo mb-0 rounded-0 border border-corporativo border-top-0 border-left-0 border-right-0">
		<h1>{{ get_nombre }}</h1>
		<h4>Inicio</h4>
	</header>
	<div class="container bg-light px-3 py-5 mb-5">
		<a href="./acerca-de" class="btn btn-outline-corporativo">Acerca de:</a>
		<a href="./cambio-de-nombre" class="btn btn-outline-corporativo text-left"><i class="icono editar_nombre"> </i> Cambiar de nombre a {{ get_nombre }}</a>
		<!-- <a href="./install?module_id=1" target="_blank">Instalar módulo 1</a> -->
	</div>
	{% include "v0/footer.html" %}
</body>
</html>