<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'css/main.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for ('static', filename = 'media/laraby.PNG') }}">
	<script type="text/javascript" src="{{ url_for ('static', filename = 'js/cambio_de_nombre.js') }}"></script>
	<title>Cambio de nombre</title>
</head>
<body>
	<header class="jumbotron bg-light text-corporativo mb-0 rounded-0 border border-corporativo border-top-0 border-left-0 border-right-0">
		<h1>{{ get_nombre }}</h1>
		<h4>Cambio de nombre</h4>
	</header>
	<div class="container bg-light px-3 py-5 mb-5">
		<a href="./" class="btn btn-outline-corporativo">Inicio</a>
	</div>
	<footer class="jumbotron bg-light text-corporativo m-0 py-3 px-5 rounded-0 text-right border border-corporativo border-bottom-0 border-left-0 border-right-0">
		<h5 class="my-3">{{ get_nombre }}</h5>
		<p>A todo el que necesite ayuda y Dios no le asista, lo hara {{ get_nombre }}.</p>
	</footer>
</body>
</html>