:root {
	--color-corporativo: #FF7C00;
	--color-fondo: #FFF0E2;
	font-size: 16px;
}

@font-face {
	font-family: Fuente1;
	src: url(../media/fuente1.otf);
}

* {
	font-family: "Fuente1";
}

body {
	background-color: var(--color-fondo);
}

.icono {
	/*background-image:url(../../Gastos/Img/view.png);*/
	-moz-background-size: 100% 100%; /*Firefox 3.6*/
	background-size: 100% 100%; /*estandar css3*/
	color: rgba(0,0,0,0);
	border: hidden;
	background-color: rgba(0,0,0,0);
	font-size: 1rem;
}

.editar-nombre {
	background-image:url(../media/editar_nombre_icon.png);
}

.container {
	min-height: 60vh;
}

.btn-outline-corporativo {
	border-color: var(--color-corporativo) !important;
	color: var(--color-corporativo) !important;
}

.text-corporativo {
	color: var(--color-corporativo) !important;
}

.border-corporativo {
	border-color: var(--color-corporativo) !important;
}

.valign-middle {
	vertical-align: middle;
}